$accent-color: #63e6be;
$base-color: #212529;
$font-color: #adb5bd;
$desktop-width: 768px;
$navbar-padding: 15px;

// Override Bootstrap's variables
$body-bg: $base-color;
$body-color: $font-color;

// import Bootstrap CSS
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/utilities/position";

// import PhotoSwipe CSS
@import "~photoswipe/dist/default-skin/default-skin";
@import "~photoswipe/dist/photoswipe";

@import "gallery.scss";
@import "latolatinfonts";

@mixin mobile {
    @media (max-width: $desktop-width - 1) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $desktop-width) and (max-width: 992px - 1) {
        @content;
    }
}

/* Desktop and tablet */
@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin mainTransition ($property: null) {
    transition: transform 1250ms, opacity 1250ms, $property;
}

:root {
    --section-translateY: calc(var(--section-margin) * 0.6);
    --navbar-translateY: var(--navbar-margin);

    @include mobile {
        --main-margin: 40px;
        --section-margin: 40px;
        --navbar-margin: 20px;
        --navbar-strech: calc(-1 * #{$navbar-padding});
    }

    @include tablet {
        /* !important: overwrite desktop's value */
        --container-width: 720px !important;
    }

    @include desktop {
        --main-margin: 70px;
        --navbar-margin: 25px;
        --section-margin: 70px;
        --navbar-strech: calc(-1 * ((100vw - var(--container-width)) / 2 + #{$navbar-padding}));
        --container-width: 900px;
    }
}

html {
    height: 100%;
}

body {
    background-color: $base-color;
    color: $font-color;
    font-family: "Lato", "arial", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    letter-spacing: 0.0075em;

    @include mobile {
        margin: var(--main-margin) 1rem;
    }

    @include desktop {
        font-size: 1.2rem;
    }

    a {
        color: $accent-color;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: calc(1rem * 1.5);
        margin-bottom: 1rem;
        font-weight: 400;
    }

    h2 {
        font-weight: 600;
    }
}

.header {
    margin-top: var(--navbar-margin) 0px;

    .logo {
        line-height: normal;

        @include mobile {
            margin-bottom: var(--navbar-margin);
            text-align: center;
            display: block;
        }

        @include desktop {
            margin-left: -5px;
        }

        a {
            font-family: "Jura", "arial", sans-serif;
            color: $font-color;
            font-size: 60px;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 0px;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .social-link {
        color: $font-color;
        text-align: center;
        text-transform: uppercase;
        margin: 0px 20px;

        i {
            font-size: 25px;
            margin: 5px 0px;
        }
    }
}

nav.navbar {
    background-color: $base-color;
    margin: var(--navbar-margin) var(--navbar-strech);
    padding-right: calc(-1 * var(--navbar-strech));
    padding-left: calc(-1 * var(--navbar-strech));

    &.before-animation {
        opacity: 0;
        transform: translateY(var(--navbar-translateY));
    }

    &.sticky {
        // 4 dp shadow in material design
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);

        @include desktop {
            margin-left: var(--navbar-strech);
            // 8 dp shadow in material design
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
        }
    }

    @include mobile {
        @include mainTransition ();
    }

    @include desktop {
        margin-left: calc(var(--navbar-strech) - 1rem);
        padding-top: 1rem;
        padding-bottom: 1rem;
        @include mainTransition (margin-left 250ms ease);
    }

    ul.nav.nav-pills {
        @include mobile {
            flex-wrap: nowrap;
            white-space: nowrap;
            overflow-x: auto;
            width: 100%;
            justify-content: space-between;
        }

        li.nav-item {
            @include mobile {
                margin: 0px 5px;
            }

            @include desktop {
                margin: 0px 10px;
            }

            &:first-child {
                margin-left: 0px !important;
            }

            &:last-child {
                margin-right: 0px !important;
            }

            a.nav-link {
                border-radius: 0.5rem;

                @include mobile {
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                }

                &.active {
                    color: $base-color;
                    background-color: $accent-color;
                    font-weight: 600;
                }
            }
        }
    }
}

main {
    margin: var(--main-margin) 0px;

    h1 {
        font-weight: 300;

        @include mobile {
            margin-top: 0px;
        }

        @include desktop {
            font-size: 3.4rem;
        }
    }

    h2 {
        span.github-button {
            vertical-align: middle;
            margin-left: 0.5rem;
        }

        small {
            &.programme {
                display: block;
                margin-top: 10px;
                font-size: 1.75rem;
            }

            &.university {
                display: block;
                margin-top: 10px;
                font-size: 1.2rem;
            }
        }
    }

    .section {
        margin-top: var(--section-margin);
        margin-bottom: var(--section-margin);
        @include mainTransition ();

        @include desktop {
            height: calc(100vh - (1.2rem*1.5 + 0.5rem*2 + 1rem*2));
            display: flex;
            overflow-y: scroll;
            flex-direction: column;
            flex-wrap: wrap;
        }

        &.before-animation {
            opacity: 0;
            transform: translateY(var(--section-translateY));
        }

        a {
            text-decoration: none;
            color: $font-color;
            background-image: linear-gradient($accent-color, $accent-color);
            background-repeat: no-repeat;
            background-size: 100% 10%;
            background-position: 0 95%;
            transition: 0.35s ease;

            &:hover {
                border-radius: 2px;
                color: #495057;
                background-size: 100% 100%;
            }
        }

        &>*:first-child {
            margin-top: 0px;
        }

        &>*:last-child {
            margin-bottom: 0px;
        }

        p {
            line-height: 1.7;
        }

        li {
            margin-bottom: 1rem;
        }

        .table-container {
            div.table-header {
                display: flex;
                flex-wrap: nowrap;
                width: 100%;
                border-bottom: 1px solid #adb5bd;

                div.term {
                    font-weight: 600;
                    flex-grow: 2;
                }

                & div {
                    padding: .75rem;
                }
            }

            table.table {
                tbody {

                    th,
                    td {
                        border: 0px;

                        &:first-child {
                            width: 100%;
                        }

                        &:last-child {
                            text-align: center;
                        }
                    }
                }
            }
        }

        p.tags-heading {
            margin-bottom: 0.5rem;
            width: 100%;
        }

        .tags-container {
            display: flex;
            flex-wrap: wrap;
            margin: 0px -0.3rem;

            .tag {
                display: inline-flex;
                list-style: none;
                margin: 0.3rem 0.25rem;
                padding: 0.25rem 0.75rem;
                background-color: #343a40;
                border-radius: 100px;
                font-size: 1rem;
            }
        }

        .section-item {
            display: block;
            width: 70%;
            margin-right: 5%;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

footer {
    small {
        display: block;
    }
}


.overlay {
    visibility: hidden;
    opacity: 0;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.90);
    transition: 250ms ease-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    .overlay-container {
        overflow-y: auto;
        height: 100%;

        a.close-btn {
            position: sticky;
            float: right;

            @include mobile {
                top: 0.5rem;
                right: 0.5rem;
                padding: 0.5rem;
            }

            @include desktop {
                top: 1rem;
                right: 1rem;
                padding: 0.5rem;
            }

            svg {
                fill: $font-color;

                @include mobile {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                @include desktop {
                    width: 1.75rem;
                    height: 1.75rem;
                }
            }
        }

        #resources-list {
            h2 {
                margin-top: 3rem;
            }

            h3 {
                margin-top: 1.5rem;
            }

            li {
                word-break: break-word;
                margin-bottom: 1rem;
            }
        }
    }
}