/* Webfont: LatoLatin-Black */@font-face {
    font-family: 'Lato';
    src: url('../font/LatoLatin-Black.woff2');
    font-style: normal;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-BlackItalic */@font-face {
    font-family: 'Lato';
    src: url('../font/LatoLatin-BlackItalic.woff2');
    font-style: italic;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Bold */@font-face {
    font-family: 'Lato';
    src: url('../font/LatoLatin-Bold.woff2');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-BoldItalic */@font-face {
    font-family: 'Lato';
    src: url('../font/LatoLatin-BoldItalic.woff2');
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Hairline */@font-face {
    font-family: 'Lato';
    src: url('../font/LatoLatin-Hairline.woff2');
    font-style: normal;
    font-weight: 100;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-HairlineItalic */@font-face {
    font-family: 'Lato';
    src: url('../font/LatoLatin-HairlineItalic.woff2');
    font-style: italic;
    font-weight: 100;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Heavy */@font-face {
    font-family: 'Lato';
    src: url('../font/LatoLatin-Heavy.woff2');
    font-style: normal;
    font-weight: 800;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-HeavyItalic */@font-face {
    font-family: 'Lato';
    src: url('../font/LatoLatin-HeavyItalic.woff2');
    font-style: italic;
    font-weight: 800;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Italic */@font-face {
    font-family: 'Lato';
    src: url('../font/LatoLatin-Italic.woff2');
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Light */@font-face {
    font-family: 'Lato';
    src: url('../font/LatoLatin-Light.woff2');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-LightItalic */@font-face {
    font-family: 'Lato';
    src: url('../font/LatoLatin-LightItalic.woff2');
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Medium */@font-face {
    font-family: 'Lato';
    src: url('../font/LatoLatin-Medium.woff2');
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-MediumItalic */@font-face {
    font-family: 'Lato';
    src: url('../font/LatoLatin-MediumItalic.woff2');
    font-style: italic;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Regular */@font-face {
    font-family: 'Lato';
    src: url('../font/LatoLatin-Regular.woff2');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Semibold */@font-face {
    font-family: 'Lato';
    src: url('../font/LatoLatin-Semibold.woff2');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-SemiboldItalic */@font-face {
    font-family: 'Lato';
    src: url('../font/LatoLatin-SemiboldItalic.woff2');
    font-style: italic;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Thin */@font-face {
    font-family: 'Lato';
    src: url('../font/LatoLatin-Thin.woff2');
    font-style: normal;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-ThinItalic */@font-face {
    font-family: 'Lato';
    src: url('../font/LatoLatin-ThinItalic.woff2');
    font-style: italic;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}

