:root {
    --section-translateY: var(--section-margin);
    --header-translateY: var(--header-margin);
}

/*Stretch the page to fill browser window (for positioning footer)*/
html {
    height: 100%;
}

body {
    background-color: #212529;
    color: #adb5bd;
    font-family: "Source Sans Pro", "arial", sans-serif;
    font-weight: 400;
    font-size: var(--font-size);
    /*Stretch the page to fill browser window (for positioning footer)
      height: 100% - (.container top margin that do not have contents in it)*/
    height: calc(100% - var(--main-margin));
}

a {
    color: #63e6be;
}

.container {
    margin: var(--main-margin) auto;
    /*Stretch container to fill the whole body (for positioning footer)
      min-height: 100% - (header margin collapsed by .container);
      position -> relative: required for footer positioning*/
    min-height: calc(100% - var(--main-margin));
    position: relative;
}

.header {
    margin-top: var(--header-margin) 0px;
}

/*.header .logo*/
.logo {
    /*Let .logo height to be the same as its child element (.logo a)*/
    line-height: normal;
}

/*.header .logo a*/
.logo a {
    font-family: "Jura", "arial", sans-serif;
    color: #adb5bd;
    font-size: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0px;
}

/*.header .logo a:hover*/
.logo a:hover {
    text-decoration: none;
}

/*.header .col-auto.d-flex.align-items-center a .social-link*/
.social-link {
    color: #adb5bd;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 20px;
}

/*.header .col-auto.d-flex.align-items-center a .social-link i*/
.social-link i {
    font-size: 25px;
    margin: 5px 0px;
}


nav.navbar {
    padding: 10px 0px;
    background-color: #212529;
    /*Negative margin: let text of .nav-item stick to the edge of its parent element (.container)*/
    margin: var(--header-margin) auto;
    /*.navbar is hidden and (--header-translateY)px lower by page load (for CSS animation)*/
    opacity: 0;
    transform: translateY(var(--header-translateY));
}

/*nav.navbar ul.nav.nav-pills li.nav-item a.nav-link.active
  Item of current scroll position, use for overriding bootstrap default colors
  .nav-pills must be included in order to override bootstrap CSS*/
.nav-pills .nav-link.active {
    color: #212529;
    background-color: #63e6be;
}

main {
    margin: var(--main-margin) -15px;
}

main .section {
    /*Margin between sections*/
    margin: var(--section-margin) 0px;
    /*.section is hidden and (--section-margin)px lower by page load (for CSS animation)*/
    opacity: 0;
    transform: translateY(var(--section-translateY));
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    margin-top: calc(var(--font-size) * 1.5);
    margin-bottom: var(--font-size);
}

main p {
    line-height: 1.7;
}

main li {
    margin-bottom: 1rem;
}

/*main .content>*:first-child
  Remove top margin on first child of each section*/
.content>*:first-child {
    margin-top: 0px;
}

/*main .content>*:last-child
  Remove bottom margin on last child (mostly paragraph) of each section, otherwise margin between sections will be larger than expected*/
.content>*:last-child {
    margin-bottom: 0px;
}

/*Add emtry element to preserve space for footer as "position: absolute" footer do not take up space
  (for positioning footer)*/
.container:after {
    content: "";
    /*height: font-size(copyright)*line-spacing(copyright) + font-size(small)*line-spacing(small)
      while font-size(small) = font-size(copyright)*0.8*/
    height: calc(var(--font-size)*1.5 + var(--font-size)*0.8*1.5);
    display: block;
}

/*Place footer to bootom of .container*/
footer {
    position: absolute;
    bottom: 0px;
}

footer small {
    display: block;
}

@media (min-width: 768px) {
    :root {
        --main-margin: 70px;
        --header-margin: 25px;
        --font-size: 20px;
        --section-margin: 50px;
    }

    .container {
        /*max-width: width of container*/
        max-width: 900px;
    }

    .logo {
        /*Let the logo stick to the edge of its parent element (.container)*/
        margin-left: -5px;
    }

    nav.navbar {
        /*Let text of .nav-item stick to the edge of its parent element (.container) before being scroll through*/
        margin-left: calc(-15px - 1rem);
        margin-right: -15px;
    }

    .nav-pills {
        transition-duration: 250ms;
        transition-timing-function: ease;
    }

    /*nav.navbar ul.nav.nav-pills li.nav-item*/
    .nav-item {
        margin: 0px 15px;
    }
    
    .content {
        padding-left: 40px;
    }

    main h1 {
        line-height: 1;
        font-size: 60px;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 1px;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        margin: 0px;
        /*Positioning Heading 1*/
        padding-bottom: 8px;
        margin-left: -11px;
    }
}

/*Avoid horizontal scrolling on device with a width between 768px and 900px*/
@media (max-width: 900px) {
    .container {
        /*max-width: width of container*/
        max-width: 90%;
    }
}

/*CSS for phones with a width less than 767px
  For device with its width more than 768px, the desktop site will be rendered*/
@media (max-width: 767px) {
    :root {
        --main-margin: 40px;
        --header-margin: 30px;
        --section-margin: 30px;
        --font-size: 1rem;
    }

    /*.header .logo*/
    .logo {
        margin-bottom: var(--header-margin);
        text-align: center;
        display: block;
    }

    /*nav.navbar ul.nav
      Enable the navbar in mobile site to scroll horizontally when needed*/
    ul.nav {
        /*flex-wrap -> nowrap: keep elements in same row even there is not enough spqce
          white-space -> nowrap: keep elements width even there is not enough spqce
          overflow-x -> scroll: enable horizontal scrolling of the element*/
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow-x: scroll;
    }

    /*nav.navbar ul.nav.nav-pills
      padding: (main contents padding) - (nav-item padding) = 15px - 5px = 10px
      The text of .nav-item would stick to the edge of its parent element (.container) / start and end at the same postion as main contents*/
    .nav.nav-pills {
        width: 100%;
        justify-content: space-between;
        padding: 0px 10px;
    }

    /*nav.navbar ul.nav.nav-pills li.nav-item
      padding: add apace between nav-items*/
    .nav-item {
        margin: 0px 5px;
    }

    /*nav.navbar ul.nav.nav-pills li.nav-item a.nav-link
      smaller padding to avoid navbar horizontal scrolling*/
    a.nav-link {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    main {
        margin: var(--header-margin) 0px;
    }

    main h1 {
        margin-top: 0px;
    }

    footer {
        padding: 0px 15px;
    }
}