//sass style.scss:style.css --style=compressed --source-map

$accent-color: #63e6be;
$base-color: #212529;
$font-color: #adb5bd;
$desktop-width: 768px;
$container-width: 900px;
$navbar-padding: 15px;

@mixin mobile {
    @media (max-width: $desktop-width - 1) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $desktop-width) and (max-width: $container-width - 1) {
        $container-width: 720px !global;
        @content;
    }
}

@mixin mainTransition ($property: null) {
    transition: transform 1250ms, opacity 1250ms, $property;
}

:root {
    --section-translateY: calc(var(--section-margin) * 0.6);
    --navbar-translateY: var(--navbar-margin);

    @include mobile {
        --main-margin: 40px;
        --section-margin: 40px;
        --navbar-margin: 20px;
        --navbar-strech: calc(-1 * #{$navbar-padding});
    }

    @include desktop {
        --main-margin: 70px;
        --navbar-margin: 25px;
        --section-margin: 70px;
        --navbar-strech: calc(-1 * ((100vw - #{$container-width}) / 2 + #{$navbar-padding}));

        font-size: 16px;
    }

    @include tablet {
        --navbar-strech: calc(-1 * ((100vw - #{$container-width}) / 2 + #{$navbar-padding}));
    }
}

html {
    height: 100%;
}

body {
    background-color: $base-color;
    color: $font-color;
    font-family: "Source Sans Pro", "arial", sans-serif;
    font-weight: 400;
    height: calc(100% - var(--main-margin));

    @include desktop {
        font-size: 1.25rem;
    }

    a {
        color: $accent-color;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: calc(1rem * 1.5);
        margin-bottom: 1rem;
        font-weight: 400;
    }

    h2 {
        font-weight: 600;
    }
}

.container {
    margin: var(--main-margin) auto;
    min-height: calc(100% - var(--main-margin));
    position: relative;

    @include desktop {
        width: 900px;
    }

    .header {
        margin-top: var(--navbar-margin) 0px;

        .logo {
            line-height: normal;

            @include mobile {
                margin-bottom: var(--navbar-margin);
                text-align: center;
                display: block;
            }

            @include desktop {
                margin-left: -5px;
            }

            a {
                font-family: "Jura", "arial", sans-serif;
                color: $font-color;
                font-size: 60px;
                letter-spacing: 2px;
                text-transform: uppercase;
                padding: 0px;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .social-link {
            color: $font-color;
            text-align: center;
            text-transform: uppercase;
            margin: 0px 20px;

            i {
                font-size: 25px;
                margin: 5px 0px;
            }
        }
    }

    nav.navbar {
        background-color: $base-color;
        margin: var(--navbar-margin) var(--navbar-strech);
        padding-right: calc(-1 * var(--navbar-strech));
        padding-left: calc(-1 * var(--navbar-strech));
        opacity: 0;
        transform: translateY(var(--navbar-translateY));

        @include mobile {
            @include mainTransition ();
        }

        @include desktop {
            margin-left: calc(var(--navbar-strech) - 1rem);
            padding-top: 1rem;
            padding-bottom: 1rem;
            @include mainTransition (margin-left 250ms ease);
        }

        ul.nav.nav-pills {
            @include mobile {
                flex-wrap: nowrap;
                white-space: nowrap;
                overflow-x: auto;
                width: 100%;
                justify-content: space-between;
            }

            li.nav-item {
                @include mobile {
                    margin: 0px 5px;
                }

                @include desktop {
                    margin: 0px 15px;
                }

                &:first-child {
                    margin-left: 0px !important;
                }

                &:last-child {
                    margin-right: 0px !important;
                }

                a.nav-link {
                    border-radius: 0.5rem;

                    @include mobile {
                        padding-left: 0.5rem;
                        padding-right: 0.5rem;
                    }

                    &.active {
                        color: $base-color;
                        background-color: $accent-color;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    main {
        margin: var(--main-margin) 0px;

        h1 {
            @include mobile {
                margin-top: 0px;
                font-weight: 600;
            }

            @include desktop {
                font-size: 3.75rem;
                font-weight: 200;
                line-height: 1;
                margin: 0px;
                margin-left: -11px;
                padding-bottom: 8px;
                text-transform: uppercase;
                letter-spacing: 1px;
                writing-mode: vertical-lr;
                transform: rotate(180deg);
                white-space: nowrap;
            }
        }

        h2 {
            span.github-button {
                vertical-align: middle;
                margin-left: 0.5rem;
            }

            small {
                &.programme {
                    display: block;
                    margin-top: 10px;
                    font-size: 1.75rem;
                }

                &.university {
                    display: block;
                    margin-top: 10px;
                    font-size: 1.2rem;
                }
            }
        }

        .section {
            margin-top: var(--section-margin);
            margin-bottom: var(--section-margin);
            opacity: 0;
            transform: translateY(var(--section-translateY));
            @include mainTransition ();

            .content {
                a {
                    text-decoration: none;
                    color: $font-color;
                    background-image: linear-gradient($accent-color 100%);
                    background-repeat: no-repeat;
                    background-size: 100% 10%;
                    background-position: 0 95%;
                    transition: 0.35s ease;

                    &:hover {
                        border-radius: 2px;
                        color: #495057;
                        background-size: 100% 100%;
                    }
                }

                @include desktop {
                    padding-left: 40px;
                }

                &>*:first-child {
                    margin-top: 0px;
                }

                &>*:last-child {
                    margin-bottom: 0px;
                }

                p {
                    line-height: 1.7;
                }

                li {
                    margin-bottom: 1rem;
                }

                .table-container {
                    div.table-header {
                        display: flex;
                        flex-wrap: nowrap;
                        width: 100%;
                        border-bottom: 1px solid #adb5bd;

                        div.term {
                            font-weight: 600;
                            flex-grow: 2;
                        }

                        & div {
                            padding: .75rem;
                        }
                    }

                    table.table {
                        tbody {

                            th,
                            td {
                                border: 0px;

                                &:first-child {
                                    width: 100%;
                                }

                                &:last-child {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }

                p.tags-heading {
                    margin-bottom: 0.5rem;
                    width: 100%;
                }

                .tags-container {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0px -0.3rem;

                    .tag {
                        display: inline-flex;
                        list-style: none;
                        margin: 0.3rem 0.25rem;
                        padding: 0.25rem 0.75rem;
                        background-color: #343a40;
                        border-radius: 100px;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    footer {
        small {
            display: block;
        }
    }
}

.overlay {
    visibility: hidden;
    opacity: 0;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.90);
    transition: 250ms ease-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    .overlay-container {
        overflow-y: auto;
        height: 100%;

        a.close-btn {
            position: sticky;
            float: right;

            @include mobile {
                top: 0.5rem;
                right: 0.5rem;
                padding: 0.5rem;
            }

            @include desktop {
                top: 1rem;
                right: 1rem;
                padding: 0.5rem;
            }

            svg {
                fill: $font-color;

                @include mobile {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                @include desktop {
                    width: 1.75rem;
                    height: 1.75rem;
                }
            }
        }

        #resources-list {
            h2 {
                margin-top: 3rem;
            }

            h3 {
                margin-top: 1.5rem;
            }

            li {
                word-break: break-word;
                margin-bottom: 1rem;
            }
        }
    }
}