//sass style.scss:style.css --style=compressed --source-map

$accent-color: #63e6be;
$base-color: #212529;
$font-color: #adb5bd;

:root {
    --section-translateY: var(--section-margin);
    --header-translateY: var(--header-margin);
}

html {
    height: 100%;
}

body {
    background-color: $base-color;
    color: $font-color;
    font-family: "Source Sans Pro", "arial", sans-serif;
    font-weight: 400;
    font-size: var(--font-size);
    height: calc(100% - var(--main-margin));

    a {
        color: $accent-color;
    }
}

.container {
    margin: var(--main-margin) auto;
    min-height: calc(100% - var(--main-margin));
    position: relative;

    &:after {
        content: "";
        height: calc(var(--font-size)*1.5 + var(--font-size)*0.8*1.5);
        display: block;
    }

    .header {
        margin-top: var(--header-margin) 0px;

        .logo {
            line-height: normal;

            a {
                font-family: "Jura", "arial", sans-serif;
                color: $font-color;
                font-size: 60px;
                letter-spacing: 2px;
                text-transform: uppercase;
                padding: 0px;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .social-link {
            color: $font-color;
            text-align: center;
            text-transform: uppercase;
            margin: 0px 20px;

            i {
                font-size: 25px;
                margin: 5px 0px;
            }
        }
    }

    nav.navbar {
        padding: 10px 0px;
        background-color: $base-color;
        margin: var(--header-margin) auto;
        opacity: 0;
        transform: translateY(var(--header-translateY));

        a.nav-link.active {
            color: $base-color;
            background-color: $accent-color;
        }
    }

    main {
        margin: var(--main-margin) -15px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: calc(var(--font-size) * 1.5);
            margin-bottom: var(--font-size);
        }

        h2 {
            small {
                &.programme {
                    display: block;
                    margin-top: 10px;
                    font-size: 90%;
                }

                &.university {
                    display: block;
                    margin-top: 10px;
                    font-size: 60%;
                }
            }
        }

        .section {
            margin: var(--section-margin) 0px;
            opacity: 0;
            transform: translateY(var(--section-translateY));

            .content {
                &>*:first-child {
                    margin-top: 0px;
                }

                &>*:last-child {
                    margin-bottom: 0px;
                }

                p {
                    line-height: 1.7;
                }

                li {
                    margin-bottom: 1rem;
                }

                .table-container {
                    div.table-header {
                        display: flex;
                        flex-wrap: nowrap;
                        width: 100%;
                        border-bottom: 1px solid #adb5bd;

                        div.term {
                            font-weight: 700;
                            flex-grow: 2;
                        }

                        & div {
                            padding: .75rem;
                        }
                    }

                    table.table {

                        tbody {

                            th,
                            td {
                                border: 0px;

                                &:first-child {
                                    width: 100%;
                                }

                                &:last-child {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }

                p.tags-heading {
                    margin-bottom: 0.5rem;
                    width: 100%;
                }

                .tags-container {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0px -0.3rem;

                    .tag {
                        display: inline-flex;
                        list-style: none;
                        margin: 0.3rem 0.25rem;
                        padding: 0.25rem 0.75rem;
                        background-color: #343a40;
                        border-radius: 100px;
                        font-size: 80%;
                    }
                }
            }
        }
    }

    footer {
        position: absolute;
        bottom: 0px;

        small {
            display: block;
        }
    }
}

@media (min-width: 768px) {
    :root {
        --main-margin: 70px;
        --header-margin: 25px;
        --font-size: 20px;
        --section-margin: 50px;
    }

    .container {
        width: 900px;

        .logo {
            margin-left: -5px;
        }

        nav.navbar {
            margin-left: calc(-15px - 1rem);
            margin-right: -15px;

            ul.nav.nav-pills {
                transition-duration: 250ms;
                transition-timing-function: ease;

                li.nav-item {
                    margin: 0px 15px;
                }
            }
        }

        main {
            h1 {
                line-height: 1;
                font-size: 60px;
                font-weight: 200;
                text-transform: uppercase;
                letter-spacing: 1px;
                writing-mode: vertical-lr;
                transform: rotate(180deg);
                margin: 0px;
                padding-bottom: 8px;
                margin-left: -11px;
            }

            .content {
                padding-left: 40px;
            }
        }
    }
}

@media (max-width: 767px) {
    :root {
        --main-margin: 40px;
        --header-margin: 30px;
        --section-margin: 30px;
        --font-size: 1rem;
    }

    .container {
        padding: 0;

        .logo {
            margin-bottom: var(--header-margin);
            text-align: center;
            display: block;
        }

        ul.nav.nav-pills {
            flex-wrap: nowrap;
            white-space: nowrap;
            overflow-x: scroll;
            width: 100%;
            justify-content: space-between;
            padding: 0px 10px;

            li.nav-item {
                margin: 0px 5px;

                a.nav-link {
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                }
            }
        }

        main {
            margin: var(--header-margin) 0px;

            h1 {
                margin-top: 0px;
            }

            footer {
                padding: 0px 15px;
            }
        }
    }
}