// Variables to be reused by other SCSS files

@use '../bootstrap-variables' as bootstrap;

$accent-color: #4285f4;
$base-color: bootstrap.$white;
$main-transition: 750ms ease-out;

$navbar-padding-desktop: 1rem;
$navbar-font-size-desktop: 1.125rem;
$navbar-margin-desktop: 0.75rem;
$navbar-height-desktop: ($navbar-font-size-desktop * bootstrap.$line-height-base) + (bootstrap.$navbar-nav-link-padding-x * 2) + ($navbar-padding-desktop * 2);
