$accent-color: #00bfa5;
$base-color: #f8f9fa;
$font-color: #202124;
$container-width-desktop: calc(900px + var(--bs-gutter-x));
$show-transition: transform var(--show-transition-duration),
  opacity var(--show-transition-duration);
